@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MythologyOfEgypt;
  src: url("/fonts/Mythology_Of_Egypt.ttf") format("truetype"),
    url("/fonts/Mythology_Of_Egypt.otf") format("opentype");
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?2242qv");
  src: url("/fonts/icomoon.eot?2242qv#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?2242qv") format("truetype"),
    url("/fonts/icomoon.woff?2242qv") format("woff"),
    url("/fonts/icomoon.svg?2242qv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @apply bg-layout-200 dark:bg-layout-800 text-layout-800 dark:text-layout-100;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.sign_wrapper {
  @apply flex justify-center items-center min-h-screen;
}

.roadmap_parent .roadmap_status {
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  top: 0;
}
.roadmap_parent:nth-child(odd) .roadmap_status {
  transform: translate(50%, -50%);
  right: -2rem;
}

.roadmap_parent:nth-child(even) .roadmap_status {
  transform: translate(-50%, -50%);
  left: -2rem;
}

.spin-button-none::-webkit-inner-spin-button,
.spin-button-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination {
  @apply flex justify-center items-center gap-1  text-sm;
}

.pagination .page-num {
  @apply py-1 px-2 cursor-pointer rounded font-semibold;
}

.pagination .page-num:hover {
  @apply bg-primary-100 text-slate-100;
}

.pagination .active {
  @apply bg-primary-100 text-slate-100;
}

.styledScrollbars::-webkit-scrollbar {
  width: 3px; /* Mostly for vertical scrollbars */
  height: 3px; /* Mostly for horizontal scrollbars */
}
.styledScrollbars::-webkit-scrollbar-thumb {
  /* Foreground */
  @apply bg-primary-100;
}
.styledScrollbars::-webkit-scrollbar-track {
  /* Background */
  @apply bg-gray-200 dark:bg-gray-800;
}

.react-loading-skeleton {
  @apply dark:bg-slate-600;
}

.react-loading-skeleton::after {
  @apply dark:bg-gradient-to-r dark:from-slate-600 dark:via-slate-500 dark:to-slate-600;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-LOP_Token:before {
  content: "\e900";
}

@keyframes pharaohBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 285px) {
  .noSicoalMedia {
    display: none;
  }
}
